@import '../../theme/colors';

.page {
    flex-direction:  column;
    justify-content: center;
    align-items: center;
    margin: 20;
}


.week-day-label {
    color: $secondary;
    font-weight: bold;
}

.day{
    width: 50;
    height: 50;
    border-color: $primary;
    border-width: 1;
    border-radius: 50%;
    color: $primary;
    justify-content: center;
    align-items: center;
    margin: 10;
}

.completed {
    background: $success;
    color: white;
}

.failed {
    background: $fail;
    color: white;
}

.not-settable {
    background: gray;
    color: black;
}
