<ns-action-bar [title]="'Current Challenge!'" >
    <ActionItem ios.position="right" android.position="actionBar" nsRouterLink="/challenges/replace"
        pageTransition="slideLeft">
        <label text="&#xf0fe;" ios:class="fa p-5" android:class="fa p-10" android:fontSize="24"></label>
    </ActionItem>
    <ActionItem ios.position="right" android.position="actionBar" nsRouterLink="/challenges/edit"
        pageTransition="slideLeft">
        <label text="&#xf044;" ios:class="fa p-5" android:class="fa p-10" android:fontSize="24"></label>
    </ActionItem>
</ns-action-bar>
<ScrollView>
    <FlexboxLayout class="page">
        <StackLayout>
            <Label class="h1 text-center of" text="Current challenge title"></Label>
            <Label class="body text-center of" text="This is a description of the challenge"></Label>
        </StackLayout>
        <GridLayout rows="auto,*,*,*,*,*,*" columns="*,*,*,*,*,*,*">
            <Label class="text-center week-day-label" width="100%" *ngFor="let wd of weekDays; index as i" [text]="wd"
                row="0" [col]="i"></Label>
            <FlexboxLayout class="day" *ngFor="let d of days" [col]="d.dayInWeek" [row]="d.rowPos">
                <Label class="text-center"
                [text]="d.dayInMonth"
                (tap)="onChageStatus(d.cdate)">
                </Label>
            </FlexboxLayout>
        </GridLayout>
    </FlexboxLayout>
</ScrollView>
