<ns-action-bar [title]="'Current Challenge!'">
    <ActionItem ios.position="right"
                android.position="actionBar"
                nsRouterLink="/challenges/replace"
                pageTransition="slideLeft">
        <label text="Replace"></label>
    </ActionItem>
    <ActionItem ios.position="right"
                android.position="actionBar"
                nsRouterLink="/challenges/edit"
                pageTransition="slideLeft">
        <label text="Edit"></label>
    </ActionItem>
</ns-action-bar>
<StackLayout>
    <Label text="Current challenge"></Label>
    <Button text="Edit" (tap)="onEdit()"></Button>
    <Button text="Change Status" (tap)="onChageStatus()"></Button>
</StackLayout>
