<FlexboxLayout  flexDirection="row" justifyContent="space-between" alignItems="flex-start" >
    <label id="i1" text="Item 1"></label>
    <label id="i2" text="Item 2" alignSelf="flex-end"></label>
    <label id="i3" text="Item 3"></label>
</FlexboxLayout>

<StackLayout orientation="horizontal">
    <FlexboxLayout  flexDirection="column" justifyContent="space-around" alignItems="center" width="50%">
        <label id="i1" text="Item 1"></label>
        <label id="i2" text="Item 2" ></label>
        <label id="i3" text="Item 3"></label>
    </FlexboxLayout>

    <FlexboxLayout  flexDirection="column" justifyContent="space-around"  width="50%">
        <label id="i1" text="Item 1"></label>
        <label id="i2" text="Item 2" ></label>
    </FlexboxLayout>
</StackLayout>
