@import 'app-common';

.btn {
    background:transparent;
    border-width: 1;
    border-color: #7c015d;
    color: #7c015d;
    width: 100%;
    padding: 5 10;
    border-radius: 30%;
    margin: 5 0;
}
